# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Database
*.db
*.sqlite3

# Node / Frontend (if using npm)
node_modules/

# Logs
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploaded files
documents/
